*{
    margin: 0;
}
html{
    background-color: white;
}
nav{
    padding: 5px;
    background-color: red;
}
nav a{
    padding: 5px;
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: black;
}
footer{
    background-color: red;
    color: white;
}
div{
    font-size: 21px;
}
button:hover{
    cursor: pointer;
}
